@font-face {
  font-family: Vazir;
  src: url("./assets/fonts/vazir/Vazir-Regular-FD.eot");
  src: url("./assets/fonts/vazir/Vazir-Regular-FD.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/vazir/Vazir-Regular-FD.woff2") format("woff2"),
    url("./assets/fonts/vazir/Vazir-Regular-FD.woff") format("woff"),
    url("./assets/fonts/vazir/Vazir-Regular-FD.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("./assets/fonts/vazir/Vazir-Bold-FD.eot");
  src: url("./assets/fonts/vazir/Vazir-Bold-FD.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/vazir/Vazir-Bold-FD.woff2") format("woff2"),
    url("./assets/fonts/vazir/Vazir-Bold-FD.woff") format("woff"),
    url("./assets/fonts/vazir/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("./assets/fonts/vazir/Vazir-Thin-FD.eot");
  src: url("./assets/fonts/vazir/Vazir-Thin-FD.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/vazir/Vazir-Thin-FD.woff2") format("woff2"),
    url("./assets/fonts/vazir/Vazir-Thin-FD.woff") format("woff"),
    url("./assets/fonts/vazir/Vazir-Thin-FD.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("./assets/fonts/vazir/Vazir-Light-FD.eot");
  src: url("./assets/fonts/vazir/Vazir-Light-FD.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/vazir/Vazir-Light-FD.woff2") format("woff2"),
    url("./assets/fonts/vazir/Vazir-Light-FD.woff") format("woff"),
    url("./assets/fonts/vazir/Vazir-Light-FD.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("./assets/fonts/vazir/Vazir-Medium-FD.eot");
  src: url("./assets/fonts/vazir/Vazir-Medium-FD.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/vazir/Vazir-Medium-FD.woff2") format("woff2"),
    url("./assets/fonts/vazir/Vazir-Medium-FD.woff") format("woff"),
    url("./assets/fonts/vazir/Vazir-Medium-FD.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("./assets/fonts/vazir/Vazir-Black-FD.eot");
  src: url("./assets/fonts/vazir/Vazir-Black-FD.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/vazir/Vazir-Black-FD.woff2") format("woff2"),
    url("./assets/fonts/vazir/Vazir-Black-FD.woff") format("woff"),
    url("./assets/fonts/vazir/Vazir-Black-FD.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}

:root {
  --background-color: #f1f2f6;
  --text-color: #515151;
  --primary-color: #9b97b5;
  --primary-dark-color: #3a596ed6;
  --secondary-color: #a6cdde;
  --secondary-dark-color: #4e7a9e;
  --red-color: #bc3b59;
  --red-dark-color: #9b2847;
  --gray-light-color: #f1f1f1;
  --gray-middle-color: #dfe6e9;
  --gray-dark-color: #acacac;
  --background-hover-btn: #acacac6e;
  --border-radius: 20px;
  --border-radius-red-box: 12px;
  --transition: all 0.5s ease;
  --card-box-shadow: 0px 6px 15px rgb(0 0 0 / 15%);
}

body {
  font-family: "Vazir", sans-serif;
  color: var(--text-color);
  margin: 0;
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: inherit;
}
